@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(Manrope-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(Manrope-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(Inter-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(Inter-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(Inter-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: block;
  src: url(Inter-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(InterTight-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(InterTight-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(InterTight-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 800;
  font-display: block;
  src: url(InterTight-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(PTSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(PTSans-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(Raleway-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(Raleway-ExtraBold.woff2) format('woff2');
}
